<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor=" let query of queries">
      <ion-card-header>
        <ion-card-subtitle>
          Title
        </ion-card-subtitle>
        <ion-card-title>
{{query.title}}
        </ion-card-title>
        <ion-badge>{{query.status}}</ion-badge>
        <h3>Created at <ion-badge slot="end"  > {{ query.created}}</ion-badge></h3>
        <h3>Last Action <ion-badge slot="end" > {{ query.lastAction}}</ion-badge></h3>
      
            <ion-button (click)="presentModal(query.id)">
              Action
            </ion-button>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
         
       </ion-content>
