

body{
  // background: linear-gradient(180deg, #ffa726, #fb8c00);
  background: linear-gradient(50deg,#fff3e0,#ffffff,#ffffff,#ffffff,#fff7ec);
}
app-login{

  ion-grid{
    width: 100%;
    max-width: 420px;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  overflow-y: auto !important;
  overflow-x: auto !important;


  .loginForm{
    .login-btn{
      background: linear-gradient(60deg, #964adc, #522a93) !important;
    }
      div{
        a{
          color: #f16e00;
        }
      }
      ion-img{
        width: 200px;
        height: auto;
        margin: auto;
        margin-bottom: 50px;
        // margin-top: 20px;
        padding: 30px;
        
      }
      .valid{
        margin-bottom: 10px;
  
        span{
          color: #ff3888;
        }
      }
      .ion-input-field {
        margin-bottom: 20px;
  
        ion-label{
          color: #ff9d4d;
        }
            ion-input {
              border-bottom: solid 1px #ff9d4d;
              color: #7d7d7d;
              padding: 0 10px !important;
              margin-top: 5px;
              height: 50px;
              input{
                padding: 0 15px;
              }
          }
      }
  }
}


/***-----------media-start------------**/


@media screen and (orientation:landscape) {
  app-login{
    ion-grid{
      position: static;
      transform: inherit;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .loginForm{
     
      border: solid 1px #fff0e2;
      padding: 10px 20px;
  
      ion-img{
        margin-bottom: 0; 
      }
  
    }

    
  }
  
 }