
<ion-content padding style="--color: white; --background: url('https://images.unsplash.com/photo-1530579807716-d82c0991629a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c708171e9cdb8ae7ed04f8e37e2808c&auto=format&fit=crop&w=934&q=80') no-repeat center center fixed" >
  
  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="loginForm">
  <ion-card class="loginCard">
    <ion-card-header color="warning" >
      <ion-card-title  >Login</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
    <!-- <div style="position: relative;"> 
        <div class="avatar">
            <img src="https://www.momspresso.com/business-image/104017/ipsaa-day-care-pvt-ltd31.jpg" class="avtarImage">
        </div>
      </div> -->
    <ion-card-content style=" background-color: #f0f0f0;">
      <ion-label stacked>Email Id</ion-label>
      <br>
        <ion-item>
            <ion-icon color="danger" name="person" item-left></ion-icon>
            <ion-input type="text" formControlName="email" placeholder="Enter Email Id"></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || submitAttempt) && !email.valid" class="valid">
            <span *ngIf="email.hasError('required')" >email Id  is required.</span>
            <span *ngIf="email.hasError('pattern')" >email Id  is invalid.</span>
          </div>

          <br>
          
          <ion-label stacked>Password</ion-label>
          <br>
      <ion-item>
          <ion-icon color="danger" name="unlock" item-left></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="Add Password"></ion-input>
        </ion-item>
        <div no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid" class="valid" margin-bottom>
          <span>Password is required.</span>
        </div>
        <br>

        <ion-button type="submit"  *ngIf="!submitAttempt" shape="round" center> Login</ion-button>
        <ion-button   *ngIf="submitAttempt" shape="round" center> Logging</ion-button>


      </ion-card-content>

    </ion-card>
  </form>
</ion-content>
