<ion-grid>
  <ion-row align-items-center>
    <ion-col align-self-center>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="loginForm" align-self-center>
          <ion-img class="center logo-img" src="../assets/img/ipsaa-logo.png"></ion-img>
          <div class="loginCard">
            
            <div class="ion-input-field">
                <!-- <ion-icon color="primary" name="person" item-left></ion-icon> -->
                <ion-label stacked>Email Id</ion-label>
                <ion-input type="text" formControlName="email" placeholder="Enter Email Id"></ion-input>
            </div>
            
            <div *ngIf="(email.dirty || submitAttempt) && !email.valid" class="valid">
              <span *ngIf="email.hasError('required')" >email Id  is required.</span>
              <span *ngIf="email.hasError('pattern')" >email Id  is invalid.</span>
            </div>
        
            
            <div class="ion-input-field">
              <ion-label stacked>Password</ion-label>
              <!-- <ion-icon color="primary" name="unlock" item-left></ion-icon> -->
              <ion-input type="password" formControlName="password" placeholder="Enter Password"></ion-input>
            </div>
        
            <div no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid" class="valid" margin-bottom>
              <span>Password is required.</span>
            </div>
            
            <div text-right>
              <a color="primary" href="#">Forgot Password</a>
            </div>
        
            <ion-button color="primary" margin-top type="submit"  *ngIf="!submitAttempt" shape="round" expand="full" center> Login</ion-button>
            <ion-button  color="primary" margin-top  *ngIf="submitAttempt" shape="round" expand="full" center> Logging</ion-button>
        
        </div>
    
        </form>
     
    </ion-col>
  </ion-row>
</ion-grid>